.footer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
}