*{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

body::-webkit-scrollbar{
    background: black;
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px
}